
<div class="sidebar-panel">
  <div class="brand"><span class="app-logo-text ml-2 text-20">ASM</span></div>
  <!-- Start:: user-->
  <div class="scroll-nav" data-perfect-scrollbar="" data-suppress-scroll-x="true">
    <div class="app-user text-center">
      <div class="app-user-photo"><img src="/admin-template/images/avatars/005-man-2.svg" alt="" /></div>
      <div class="app-user-info"><span class="app-user-name">ADMIN</span>
        <div class="app-user-control"><a class="control-item" href="#"><i class="material-icons">person</i></a><a class="control-item" href="#"><i class="material-icons"> exit_to_app</i></a></div>
      </div>
    </div>
    <!-- End:: user-->
    <!-- Start:: side-nav-->
    <div class="side-nav">
      <div class="main-menu">
        <nav class="sidebar-nav">
          <ul>
            <li><a href="#" style="color: white"><i class="material-icons nav-icon">domain</i>Domain Management</a></li>
            <li><a href="#" style="color: white"><i class="material-icons nav-icon">dns</i>Subdomain Management</a></li>
<!--            <li><a href="${gallery}"><i class="material-icons nav-icon">collections</i><spring:message code="header.gallery.management"/></a></li>-->
<!--            <li><a href="${notification}"><i class="material-icons nav-icon">circle_notifications</i><spring:message code="header.notification.management"/></a></li>-->
<!--            <li><a href="${faq}"><i class="material-icons nav-icon">quiz</i>FAQ Management</a></li>-->
<!--            <li><a href="${banner}"><i class="material-icons nav-icon">slideshow</i><spring:message code="header.banner.management"/></a></li>-->
<!--            <li><a href="${kol}"><i class="material-icons nav-icon">face</i><spring:message code="header.kol.management"/></a></li>-->
<!--            <li><a href="${event}"><i class="material-icons nav-icon">event</i>Event Management</a></li>-->
          </ul>
        </nav>
      </div>
    </div>
<!--    <div class="d-flex justify-content-center" style="margin-top: 360px; gap: 10px">-->
<!--      <a href="#" onclick="changeLanguage('ko')" style="width:30px;"><img src="<c:url value="/resources/images/icon/south-korea.png"/>" style="width: 100%;height: auto" class="${locale == 'ko' ? 'lang-image-kr' : ''}"/></a>-->
<!--      <a href="#" onclick="changeLanguage('en')" style="width:30px;"><img src="<c:url value="/resources/images/icon/united-kingdom.png"/>" style="width: 100%;height: auto" class="${locale == 'en' ? 'lang-image-en' : ''}"/></a>-->
<!--    </div>-->
  </div>
</div>
<style>
  /*.lang-image-kr {*/
  /*  border: 1px solid #ff224e;*/
  /*  border-radius: 8px;*/
  /*}*/
  /*.lang-image-en {*/
  /*  border: 1px solid #0f89ff;*/
  /*  border-radius: 8px;*/
  /*}*/
</style>
<script>
  function changeLanguage(lang) {
    // Set the 'locale' cookie to the desired language
    document.cookie = 'localeCookie=' + lang + ';path=/';
    // Reload the current page
    location.reload();
  }
  // get the current URL
  var url = window.location.href;

  // get all menu items
  // var menuItems = document.querySelectorAll('#ul-menu li');
  //
  // // loop through menu items
  // menuItems.forEach(function(item) {
  //   // get the link in the menu item
  //   var link = item.querySelector('a').href;
  //
  //   // if the current URL contains the link, add the active class
  //   if (url.indexOf(link) !== -1) {
  //     item.classList.add('mm-active');
  //   }
  // });
</script>

